h1{
	font-size:45px;
	text-align: center;
}
table{
	margin-left:400px;
	border-spacing:30px;
	
}

#image{
	float:left;
	box-shadow: 10px 10px 15px #3B2828;
	max-width:75%;
	max-height:75%;
	
}

#image_1{
	max-width:50%;
	max-height:50%;
	float:left;
	box-shadow: 10px 10px 15px #3B2828;
}

.seconde{
	list-style-type:circle;
	font-size:30px
}

.exp{
	font-size:30px	
}